<header class="navbar fixed-top">
  <div class="container">
    <!--<div id="logo">-->
      <!--<i class="fas fa-city"></i>-->
      <%#= link_to "MOVE", root_path %>
    <!--</div>-->
    <div>
      <a href="/" class="logo">
        <i class="fas fa-city" aria-hidden="true"></i>
        MOVE
      </a>
    </div>
    <div>
      <ul class="nav">
        <li>
          <a href="#">
            <i class="far fa-question-circle" aria-hidden="true"></i>
            <span>MOVEとは？</span>
          </a>
        </li>
        <li>
          <a href="/signup">
            <i class="fas fa-user-plus" aria-hidden="true"></i>
            <span>ユーザー登録（無料）</span>
          </a>
        </li>
        <li>
          <a href="#">
            <button>
              ログイン
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>