    <header class="top-menu">
      <div class="container">
        <div class="logo">
          <%= link_to "MOVE", '#', id: "logo" %>
        </div>
        <nav>
          <ul class="navbar-right">
            <li><%= link_to "MOVEとは？",   '#' %></li>
            <li><%= link_to "ユーザー登録（無料）",   '#' %></li>
            <li><%= link_to "ログイン", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>